.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  place-items: center;
  width: 600px;
}

.container > svg {
  height: 40px;
  border-radius: 20px;
  filter: grayscale(1) brightness(0.9);
}
