@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nash';
  src:
    local('squealer'),
    url('./../assets/fonts/squealer.ttf') format('truetype');
}

.logo {
  font-family: 'Nash';
}

body {
  &.dark-mode {
    @apply bg-neutral-950 text-slate-400;
  }

  &.light-mode {
    @apply bg-amber-50 text-slate-500;
  }

  .dark-mode {
    @apply bg-neutral-950;
  }

  .light-mode {
    @apply bg-amber-50;
  }
}
